<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Termin Hinzufügen</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <label class="item item-input">
        <span class="input-label">Titel</span>
        <input type="text" ng-model="title.text">
      </label>
      <label class="item item-input">
        <span class="input-label">Beschreibung</span>
        <textarea ng-model="description"></textarea>
      </label>
      <ion-item class="item" ng-click="selectArzt()"  ng-if="!doctor.name">
        Arzt, Spital
          <span class="item-note">
          {{doctor.titel}}
          </span>
      </ion-item>
      <div ng-if="doctor.name">
        <a class="item item-avatar"  ng-click="selectArzt()">
          <img src={{doctor.img}}>
          <h2>{{doctor.name}} {{doctor.surname}}</h2>
          <h3>{{doctor.typ}}</h3>
        </a>
      </div>

      <label class="margin-top margin-bottom item item-input item-select">
        <div class="input-label">
          Dringlichkeit
        </div>
        <select ng-model="urgencies.selected">
          <option ng-repeat="urgency in urgencies">{{urgency}}</option>
        </select>
      </label>

      <button class="item button button-dark button-full" ng-click="selectDate()">
        {{ selectedDateTime || 'Datum'}}
      </button>

      <div class="margin-top margin-bottom">
        <div class="item item-divider item-icon-right">
          Symptome
          <i ng-click="addSymptome()" class="icon ion-android-add"></i>
        </div>
        <div class="item" ng-repeat="symptom in symptoms">
          {{symptom}}
        </div>
      </div>

      <div class="item item-divider item-icon-right margin-top">
        Medien
      </div>

      <div id="media" class="item margin-bottom row">
        <button class="button button-grey col" ng-click="openCamera()" style="margin-right: 15px">
          <i class="icon ion-ios-camera"></i>
          Foto
        </button>
        <button class="button button-grey col">
          <i class="icon ion-mic-a"></i>
          Sprachnachricht
        </button>
      </div>

      <div ng-show="media_img.length > 0" id="media_img" class="item margin-bottom row">
        <div style="background-image: url('{{img.url}}')" class="media_img col-50" ng-repeat="img in media_img"></div>
      </div>

      <button class="item button button-balanced button-full" ng-click="save()">
        Anfragen
      </button>
      <button class="item button button-light button-full" ng-click="close()">
        Abbrechen
      </button>

    </ion-list>
  </ion-content>
</ion-modal-view>
