<ion-view view-title="Detail">
  <ion-content>
      <div class="list card">
        <div class="item item-avatar">
          <h2>{{doc.titel}}</h2>
          <p>Doktor: {{doc.arzt}}</p>
          <p>Ausgestellt: {{doc.datum}}</p>
          <p ng-show="doc.date_end !== ''">Gültig bis: {{doc.date_end}}</p>
        </div>

        <div class="item item-image">
          <img ng-src="{{doc.img_medicine}}">
        </div>
        <div class="padding">
          <p>{{doc.medicine_desc}}</p>
        </div>

      </div>

      <div class="list card">
        <div class="item item-image">
          <img ng-src="{{doc.img_recipe}}">
        </div>
      </div>


      <button ng-if="!doc.bezogen" ng-show="doc.date_end == ''" class="item button button-balanced button-full" ng-click="markAsOrdered()">
        Beziehen
      </button>

  </ion-content>
</ion-view>
