<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Doktor hinzufügen</h1>
  </ion-header-bar>
  <ion-content>
    <ion-searchbar ng-model="healthinstitutes"></ion-searchbar>
    <ion-list class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="selectDoc.searchText">
      </label>

      <label class="item item-input  item-select">
        <div class="input-label">
          Fachgebiet
        </div>
        <select ng-change="update()" ng-model="cSpez.selected" style="font-size: 16px">
          <option ng-repeat="spez in spezis" ng-selected="spez.isSelected">{{spez.title}}</option>
        </select>
      </label>
        <div ng-repeat="healthinstitute in allHealthinstitutes">
          <div ng-show="(healthinstitute.doctors | filterText:selectDoc.searchText | filterType: cSpez.selected).length">
            <div class="item">
              {{healthinstitute.title}}
            </div>
          </div>
          <div ng-repeat="doctor in healthinstitute.doctors | filterText: selectDoc.searchText | filterType: cSpez.selected" ng-click="addDoctor(healthinstitute.id, doctor.id)">
            <div class="item item-avatar">
              <img src={{doctor.img}}>
              <h2>{{doctor.name}} {{doctor.surname}}</h2>
              <h3>{{doctor.typ}}</h3>
              <div id="rating">
                <span ng-repeat="n in [] | range:doctor.rating">
                   <ion-icon class="icon assertive ion-ios-star" />
                </span>
                <span ng-repeat="n in [] |   range:5-doctor.rating">
                   <ion-icon class="icon assertive ion-ios-star-outline" />
                </span>
              </div>
             </div>
          </div>
      </div>
    </ion-list>
    <button class="item button button-light button-full" ng-click="closeDoctorModal()">
      Abbrechen
    </button>
  </ion-content>
</ion-modal-view>


<!--
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Arzt suchen</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="selectDoc.searchText">
      </label>

      <div  class="item" ng-click="spitalSelected(doc)" ng-repeat="doc in doctors | filterText:selectDoc.searchText">
        {{doc.titel}}
      </div>
      <button class="item button button-light button-full" ng-click="closeSelectDoc()">
        Abbrechen
      </button>
    </div>
  </ion-content>
</ion-modal-view>-->
