<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <div class="item item-thumbnail-left">
        <img src={{patient.img}}>
        <h2>{{patient.fullname}}</h2>
        <p>{{patient.birthdate}}</p>
        <p>{{patient.placeOfBirth}}</p>
      </div>
      <div class="item item-divider item-icon-right">
        Krankenkasse
        <i ng-click="setKK()" class="icon ion-android-add"></i>
      </div>
      <label class="item" ng-if="kk">
        {{kk}}
      </label>
      <div class="item item-divider item-icon-right">
        Arzt
        <i ng-click="openDoctorModal()" class="icon ion-android-add"></i>
      </div>
      <ion-list class="list">
        <div  ng-repeat="healthinstitute in healthinstitutes">
          <div class="item">
            {{healthinstitute.title}}
          </div>
          <div ng-repeat="doctor in healthinstitute.doctors">
            <a class="item item-avatar" href="#">
              <img src={{doctor.img}}>
              <h2>{{doctor.name}} {{doctor.surname}}</h2>
            </a>
        </div>
        </div>
        </ion-list>
      <ion-list>
  </ion-content>
</ion-view>
