<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <div class="item item-thumbnail-left">
        <img src="img/mila.png">
        <h2>Mila Kunis</h2>
        <p>14.09.1983 - Ukraine</p>
      </div>
      <div class="item item-divider item-icon-right">
        Krankenkasse
        <i ng-click="setKK()" class="icon ion-android-add"></i>
      </div>
      <label class="item" ng-if="kk">
        {{kk}}
      </label>
      <div class="item item-divider item-icon-right">
        Arzt
        <i ng-click="openDoctorModal()" class="icon ion-android-add"></i>
      </div>
      <ion-list>
          <ion-item class="item item-thumbnail-left item-remove-animate" ng-repeat="healthinstitute in healthinstitutes">
            <img src={{healthinstitute.img}}>
            <h2>{{healthinstitute.title}}</h2>
            <p>Doktor: {{healthinstitute.doctor}}</p>
            <ion-option-button class="button-assertive" ng-click="remove(chat)">Löschen</ion-option-button>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
