<ion-view view-title="Termine">
  <ion-content class="padding">
    <div class="list">

      <button ng-click="addEvent()" class="item button button-full button-dark">
        neuer Termin
      </button>

      <div class="item card no-padding-lr" ng-repeat="event in events">
          <div class="item item-avatar">
              <img src={{event.location_img}} />
              <h2>{{event.title}}</h2>
              <p>{{event.location}}</p>
              <p>{{event.doctor.fullname}}</p>
              <p>{{event.date}}</p>
              <div class="status col item-borderless">
                <ion-icon class="icon balanced ion-checkmark-round" ng-if="event.status == 'accepted'"> Bestätigt</ion-icon>
                <ion-icon class="icon energized ion-android-time" ng-if="event.status == 'pending'"> Warten</ion-icon>
                <ion-icon class="icon assertive ion-close-round" ng-if="event.status == 'declined'"> Abgelehnt</ion-icon>
              </div>
          </div>
          <div class="item item-body">
              <ion-item class="row item item-borderless no-padding-lr">
                  <a ng-click="cancel(event)" href="#" class="text-left col subdued">Absagen</a>
                  <i ng-click="showMessages(event.id)" class="col text-right">
                    <span class="circle assertive-bg" ng-if="event.newMessages > 0">{{event.newMessages}}</span>
                    <span class="circle balanced-bg" ng-if="event.newMessages == 0">
                      <ion-icon class="icon ion-chatbox-working"></ion-icon>
                    </span>

                  </i>
              </ion-item>

          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
