<ion-view view-title="Termine">
  <ion-content class="padding">
    <div class="list">

      <button ng-click="addEvent()" class="item button button-full button-dark">
        neuer Termin
      </button>

      <div class="item card no-padding-lr" ng-repeat="event in events">
          <div class="item item-avatar">
            <img src={{event.location_img}}>
            <h2>{{event.title}}</h2>
            <p>{{event.location}}</p>
            <p>{{event.doctor}}</p>
            <p>{{event.date}}</p>
          </div>

          <div class="item item-body">
            <!--<img class="full-image" src="delorean.jpg">-->
            <p>
              {{event.description}}
            </p>
            <div class="item item-borderless no-padding-lr">
              <a ng-click="cancel(event)" href="#" class="assertive subdued">Cancel</a>
              <div>
                <span class="badge badge-balanced" ng-if="event.status == 'accepted'">{{event.messages}}</span>
                <span class="badge badge-energized" ng-if="event.status == 'pending'">{{event.messages}}</span>
                <span class="badge badge-assertive" ng-if="event.status == 'declined'">{{event.messages}}</span>
              </div>
            </div>
          </div>
      </div>
      </div>
</ion-view>
