/* Empty. Add your own CSS if you like */

.events-actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.login-wrapper{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.no-padding-lr{
  padding-left: 0px;
  padding-right: 0px;
}
